[Unit]
Description=uWSGI instance to serve campus website
After=network.target

[Service]
WorkingDirectory=/root/campus
ExecStart=/usr/local/bin/uwsgi uwsgi.ini
KillSignal=SIGINT
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
