{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.1, shrink-to-fit=no, user-scalable=yes">
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/svg">
	<title>Campus 42</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/typeaheadjs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/typeahead.bundle.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/tippy.js/dist/tippy.all.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="{% static 'js/hostnames.js' %}"></script>
</head>
<body class="mt-5 mt-md-0">

	<nav class="navbar fixed-top navbar-dark bg-dark flex-column flex-md-row">
		<div class="d-flex d-md-inline-flex col-12 col-md-auto justify-content-between">
			<div class="">
				<a class="navbar-brand" href="/">Campus 42</a>
			</div>
			<div class="">
				<ul class="nav nav-pills justify-content-end justify-content-sm-center" id="tabs">
					<li class="nav-item"> 
						<a href="#zone1" class="nav-link" id="tab-zone1">Zone 1 <span class="text-white">(<span class="users-online">0</span>/<span class="users-total">315</span>)</span></a>
					</li>
					<li class="nav-item"> 
						<a href="#zone2" class="nav-link" id="tab-zone2">Zone 2 <span class="text-white">(<span class="users-online">0</span>/<span class="users-total">311</span>)</span></a>
					</li>
					<li class="nav-item">
						<a href="#zone3" class="nav-link" id="tab-zone3">Zone 3 <span class="text-white">(<span class="users-online">0</span>/<span class="users-total">193</span>)</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="">
		<div class="tab-content">
			{% for zone_name, zone in map.items %}
				<div class="tab-pane" id="{{ zone_name }}">
					<table class="zone-map">
						{% for row in zone %}
							<tr>
							{% for cell in row %}
								{% if cell.type == "empty" %}
									<td>
										<div class="cell empty"></div>
									</td>
								{% elif cell.type == "table" %}
									<td>
										<div class="cell desk"></div>
									</td>
								{% else %}
									<td title="{{ cell.host }}">
										<div class="cell desk computer" data-host="{{ cell.host }}"></div>
									</td>
								{% endif %}
							{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endfor %}
		</div>
	</main>

	<footer class="bg-dark text-light rounded">
		<span class="author">Made by <a href="https://github.com/AlexEzzeddine">Alex Ezzeddine</a></span>
	</footer>

</body>
</html>
